[flake8]
max-line-length = 120
extend-ignore =
    E203, # https://github.com/PyCQA/pycodestyle/issues/373

exclude = .git
    __pycache__
    __pypackages__
    Dockerfile
    pdm.lock
    madoka.service
    .venv
    *.sql
    *.sh
    *.md
    *.ini
    *.json
    app/core/env.config.ini
    app/tmp/*
    app/plugin/plugins.json
    app/plugin/extension/*
    app/util/network.py
