__pycache__/

# ide
.idea/
.vscode/

__pypackages__/
venv/

# pdm
.pdm.toml

# Environments
app/core/config.ini

# Prevent generated and test files from being committed
app/tmp/*
app/plugin/plugin.json
app/plugin/extension
k8s/config
k8s/
*.db
